body{
font-family: Arial;
margin:0;
background:#f5f7fb;
}

/* Navigation Bar */

nav{
display:flex;
justify-content:space-between;
align-items:center;
background:#1f3c88;
padding:15px 40px;
color:white;
}

nav ul{
list-style:none;
display:flex;
gap:20px;
}

nav ul li a{
color:white;
text-decoration:none;
font-weight:bold;
}

nav ul li a:hover{
color:#ff9800;
}

/* Sections */

section{
padding:60px;
}

/* Home */

.home{
text-align:center;
background:#1f3c88;
color:white;
}

/* Cards */

.card{
background:white;
padding:20px;
margin:20px 0;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* Skills */

.skill{
display:inline-block;
background:#1f3c88;
color:white;
padding:10px 20px;
margin:10px;
border-radius:20px;
}

/* Footer */

footer{
text-align:center;
padding:20px;
background:#111;
color:white;
}
